# Various Altium files
*.PrjPCBStructure
*.SchDocPreview
*.PcbDocPreview
*.PrjPcbStructure
*.Dat
*.REP 
*.TLT
*.LOG
*.log
*.htm
*.$$$

#useless dirs
AltiumProject\Outputs
AltiumProject\Logs
AltiumProject\__Previews

#History
AltiumProject\History
AltiumProject_EN_design\History

#Exports, but not manual ones
exports\*
!exports\manual

#Python stuff
scripts\__pycache__\
*.bak
*.dwl
*.dwl2