# Various Altium files
*.PrjPCBStructure
*.SchDocPreview
*.PcbDocPreview
AltiumProject/__Previews/*
AltiumProject/History/**
AltiumProject_EN_design/History/**
*.PrjPcbStructure
*.Dat
*.REP 
*.TLT
*.LOG
*.log
*.htm
*.$$$

#useless dirs
AltiumProject/Outputs
AltiumProject/Logs

#History
AltiumProject/History

#Exports, but not manual ones
exports/*
!exports/manual

#Python stuff
scripts/__pycache__/
*.bak
*.dwl
*.dwl2